*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

* {
    color: inherit;
    font-family: inherit
}

html,
body {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0
}

body {
    font-family: raleway, sans-serif;
    background: #000;
    color: #fff
}

body.lock {
    overflow: hidden
}

a {
    text-decoration: none;
    color: inherit
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

input,
button {
    outline: none
}

button {
    cursor: pointer;
    border: none
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0
}

main {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@font-face {
    font-family: KFA;
    src: url(/fonts/KranaFat-A.woff2) format("woff2"),url(/fonts/KranaFat-A.woff) format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: m1;
    src: url(/fonts/manic/MANIC-Regular.woff2) format("woff2"),url(/fonts/manic/MANIC-Regular.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: m2;
    src: url(/fonts/manic/MANIC-Alternates1.woff2) format("woff2"),url(/fonts/manic/MANIC-Alternates1.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: m3;
    src: url(/fonts/manic/MANIC-Alternates2.woff2) format("woff2"),url(/fonts/manic/MANIC-Alternates2.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: m4;
    src: url(/fonts/manic/MANIC-Alternates3.woff2) format("woff2"),url(/fonts/manic/MANIC-Alternates3.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: md;
    src: url(/fonts/manic/MANIC-Sketches.woff2) format("woff2"),url(/fonts/manic/MANIC-Sketches.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: b;
    src: url(/fonts/b.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: MBP;
    src: url(/fonts/MP/MP-Light.woff2) format("woff2"),url(/fonts/MP/MP-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: MBP;
    src: url(/fonts/MP/MP-LightItalic.woff2) format("woff2"),url(/fonts/MP/MP-LightItalic.woff) format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: block
}

@font-face {
    font-family: MBP;
    src: url(/fonts/MP/MP-Regular.woff2) format("woff2"),url(/fonts/MP/MP-Regular.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: MBP;
    src: url(/fonts/MP/MP-Italic.woff2) format("woff2"),url(/fonts/MP/MP-Italic.woff) format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: block
}

@font-face {
    font-family: MBP;
    src: url(/fonts/MP/MP-Medium.woff2) format("woff2"),url(/fonts/MP/MP-Medium.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: MBP;
    src: url(/fonts/MP/MP-MediumItalic.woff2) format("woff2"),url(/fonts/MP/MP-MediumItalic.woff) format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: block
}

@font-face {
    font-family: MBP;
    src: url(/fonts/MP/MP-Bold.woff2) format("woff2"),url(/fonts/MP/MP-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: MBP;
    src: url(/fonts/MP/MP-BoldItalic.woff2) format("woff2"),url(/fonts/MP/MP-BoldItalic.woff) format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: block
}

@font-face {
    font-family: MBP;
    src: url(/fonts/MP/MP-Black.woff2) format("woff2"),url(/fonts/MP/MP-Black.woff) format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: MBP;
    src: url(/fonts/MP/MP-BlackItalic.woff2) format("woff2"),url(/fonts/MP/MP-BlackItalic.woff) format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: block
}

@font-face {
    font-family: pixelfont;
    src: url(/fonts/MonoLight.woff2) format("woff2"),url(/fonts/MonoLight.woff) format("woff");
    font-weight: 300;
    font-style: regular
}

@font-face {
    font-family: pixelfont;
    src: url(/fonts/MonoRegular.woff2) format("woff2"),url(/fonts/MonoRegular.woff) format("woff");
    font-weight: 500;
    font-style: regular
}

@font-face {
    font-family: pixelfont;
    src: url(/fonts/MonoMedium.woff2) format("woff2"),url(/fonts/MonoMedium.woff) format("woff");
    font-weight: 700;
    font-style: regular
}

@font-face {
    font-family: pixelfont;
    src: url(/fonts/MonoBold.woff2) format("woff2"),url(/fonts/MonoBold.woff) format("woff");
    font-weight: 800;
    font-style: regular
}

@font-face {
    font-family: careerthin;
    src: url(/fonts/MSB/MSBee-Thin.eot);
    src: url(/fonts/MSB/MSBee-Thin.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-Thin.woff2) format("woff2"),url(/fonts/MSB/MSBee-Thin.woff) format("woff"),url(/fonts/MSB/MSBee-Thin.ttf) format("truetype"),url(/fonts/MSB/MSBee-Thin.svg#StyreneB-Thin) format("svg");
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: LED;
    src: url(/fonts/led_counter-7.ttf) format("truetype");
    font-style: normal
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-Thin.eot);
    src: url(/fonts/MSB/MSBee-Thin.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-Thin.woff2) format("woff2"),url(/fonts/MSB/MSBee-Thin.woff) format("woff"),url(/fonts/MSB/MSBee-Thin.ttf) format("truetype"),url(/fonts/MSB/MSBee-Thin.svg#StyreneB-Thin) format("svg");
    font-weight: 200;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-ThinItalic.eot);
    src: url(/fonts/MSB/MSBee-ThinItalic.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-ThinItalic.woff2) format("woff2"),url(/fonts/MSB/MSBee-ThinItalic.woff) format("woff"),url(/fonts/MSB/MSBee-ThinItalic.ttf) format("truetype"),url(/fonts/MSB/MSBee-ThinItalic.svg#StyreneB-ThinItalic) format("svg");
    font-weight: 200;
    font-style: italic;
    font-display: block
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-Light.eot);
    src: url(/fonts/MSB/MSBee-Light.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-Light.woff2) format("woff2"),url(/fonts/MSB/MSBee-Light.woff) format("woff"),url(/fonts/MSB/MSBee-Light.ttf) format("truetype"),url(/fonts/MSB/MSBee-Light.svg#StyreneB-Light) format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-LightItalic.eot);
    src: url(/fonts/MSB/MSBee-LightItalic.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-LightItalic.woff2) format("woff2"),url(/fonts/MSB/MSBee-LightItalic.woff) format("woff"),url(/fonts/MSB/MSBee-LightItalic.ttf) format("truetype"),url(/fonts/MSB/MSBee-LightItalic.svg#StyreneB-LightItalic) format("svg");
    font-weight: 300;
    font-style: italic;
    font-display: block
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-Regular.eot);
    src: url(/fonts/MSB/MSBee-Regular.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-Regular.woff2) format("woff2"),url(/fonts/MSB/MSBee-Regular.woff) format("woff"),url(/fonts/MSB/MSBee-Regular.ttf) format("truetype"),url(/fonts/MSB/MSBee-Regular.svg#StyreneB-Regular) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-RegularItalic.eot);
    src: url(/fonts/MSB/MSBee-RegularItalic.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-RegularItalic.woff2) format("woff2"),url(/fonts/MSB/MSBee-RegularItalic.woff) format("woff"),url(/fonts/MSB/MSBee-RegularItalic.ttf) format("truetype"),url(/fonts/MSB/MSBee-RegularItalic.svg#StyreneB-RegularItalic) format("svg");
    font-weight: 400;
    font-style: italic;
    font-display: block
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-Medium.eot);
    src: url(/fonts/MSB/MSBee-Medium.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-Medium.woff2) format("woff2"),url(/fonts/MSB/MSBee-Medium.woff) format("woff"),url(/fonts/MSB/MSBee-Medium.ttf) format("truetype"),url(/fonts/MSB/MSBee-Medium.svg#StyreneB-Medium) format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-MediumItalic.eot);
    src: url(/fonts/MSB/MSBee-MediumItalic.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-MediumItalic.woff2) format("woff2"),url(/fonts/MSB/MSBee-MediumItalic.woff) format("woff"),url(/fonts/MSB/MSBee-MediumItalic.ttf) format("truetype"),url(/fonts/MSB/MSBee-MediumItalic.svg#StyreneB-MediumItalic) format("svg");
    font-weight: 500;
    font-style: italic;
    font-display: block
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-Bold.eot);
    src: url(/fonts/MSB/MSBee-Bold.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-Bold.woff2) format("woff2"),url(/fonts/MSB/MSBee-Bold.woff) format("woff"),url(/fonts/MSB/MSBee-Bold.ttf) format("truetype"),url(/fonts/MSB/MSBee-Bold.svg#StyreneB-Bold) format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-BoldItalic.eot);
    src: url(/fonts/MSB/MSBee-BoldItalic.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-BoldItalic.woff2) format("woff2"),url(/fonts/MSB/MSBee-BoldItalic.woff) format("woff"),url(/fonts/MSB/MSBee-BoldItalic.ttf) format("truetype"),url(/fonts/MSB/MSBee-BoldItalic.svg#StyreneB-BoldItalic) format("svg");
    font-weight: 700;
    font-style: italic;
    font-display: block
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-BlackItalic.eot);
    src: url(/fonts/MSB/MSBee-BlackItalic.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-BlackItalic.woff2) format("woff2"),url(/fonts/MSB/MSBee-BlackItalic.woff) format("woff"),url(/fonts/MSB/MSBee-BlackItalic.ttf) format("truetype"),url(/fonts/MSB/MSBee-BlackItalic.svg#StyreneB-BlackItalic) format("svg");
    font-weight: 900;
    font-style: italic;
    font-display: block
}

@font-face {
    font-family: SB;
    src: url(/fonts/MSB/MSBee-Black.eot);
    src: url(/fonts/MSB/MSBee-Black.eot?#iefix) format("embedded-opentype"),url(/fonts/MSB/MSBee-Black.woff2) format("woff2"),url(/fonts/MSB/MSBee-Black.woff) format("woff"),url(/fonts/MSB/MSBee-Black.ttf) format("truetype"),url(/fonts/MSB/MSBee-Black.svg#StyreneB-Black) format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: PX;
    src: url(/fonts/Pixter-Display.woff2) format("woff2"),url(/fonts/Pixter-Display.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: blender pro;
    src: url(../fonts/BlenderPro-Medium.eot);
    src: local('Blender Pro Medium'), local('BlenderPro-Medium'), url(../fonts/BlenderPro-Medium.eot?) format('embedded-opentype'), url(../fonts/BlenderPro-Medium.woff2) format('woff2'), url(../fonts/BlenderPro-Medium.woff) format('woff'), url(../fonts/BlenderPro-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: blender pro;
    src: url(../fonts/BlenderPro-ThinItalic.eot);
    src: local('Blender Pro Thin Italic'), local('BlenderPro-ThinItalic'), url(../fonts/BlenderPro-ThinItalic.eot?) format('embedded-opentype'), url(../fonts/BlenderPro-ThinItalic.woff2) format('woff2'), url(../fonts/BlenderPro-ThinItalic.woff) format('woff'), url(../fonts/BlenderPro-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: blender pro;
    src: url(../fonts/BlenderPro-Heavy.eot);
    src: local('Blender Pro Heavy'), local('BlenderPro-Heavy'), url(../fonts/BlenderPro-Heavy.eot?) format('embedded-opentype'), url(../fonts/BlenderPro-Heavy.woff2) format('woff2'), url(../fonts/BlenderPro-Heavy.woff) format('woff'), url(../fonts/BlenderPro-Heavy.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: blender pro book;
    src: url(../fonts/BlenderPro-BookItalic.eot);
    src: local('Blender Pro Book Italic'), local('BlenderPro-BookItalic'), url(../fonts/BlenderPro-BookItalic.eot?) format('embedded-opentype'), url(../fonts/BlenderPro-BookItalic.woff2) format('woff2'), url(../fonts/BlenderPro-BookItalic.woff) format('woff'), url(../fonts/BlenderPro-BookItalic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: blender pro book;
    src: url(../fonts/BlenderPro-Book.eot);
    src: local('Blender Pro Book'), local('BlenderPro-Book'), url(../fonts/BlenderPro-Book.eot?) format('embedded-opentype'), url(../fonts/BlenderPro-Book.woff2) format('woff2'), url(../fonts/BlenderPro-Book.woff) format('woff'), url(../fonts/BlenderPro-Book.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: blender pro;
    src: url(../fonts/BlenderPro-Bold.eot);
    src: local('Blender Pro Bold'), local('BlenderPro-Bold'), url(../fonts/BlenderPro-Bold.eot?) format('embedded-opentype'), url(../fonts/BlenderPro-Bold.woff2) format('woff2'), url(../fonts/BlenderPro-Bold.woff) format('woff'), url(../fonts/BlenderPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: blender pro;
    src: url(../fonts/BlenderPro-Thin.eot);
    src: local('Blender Pro Thin'), local('BlenderPro-Thin'), url(../fonts/BlenderPro-Thin.eot?) format('embedded-opentype'), url(../fonts/BlenderPro-Thin.woff2) format('woff2'), url(../fonts/BlenderPro-Thin.woff) format('woff'), url(../fonts/BlenderPro-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: blender pro;
    src: url(../fonts/BlenderPro-MediumItalic.eot);
    src: local('Blender Pro Medium Italic'), local('BlenderPro-MediumItalic'), url(../fonts/BlenderPro-MediumItalic.eot?) format('embedded-opentype'), url(../fonts/BlenderPro-MediumItalic.woff2) format('woff2'), url(../fonts/BlenderPro-MediumItalic.woff) format('woff'), url(../fonts/BlenderPro-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: blender pro;
    src: url(../fonts/BlenderPro-BoldItalic.eot);
    src: local('Blender Pro Bold Italic'), local('BlenderPro-BoldItalic'), url(../fonts/BlenderPro-BoldItalic.eot?) format('embedded-opentype'), url(../fonts/BlenderPro-BoldItalic.woff2) format('woff2'), url(../fonts/BlenderPro-BoldItalic.woff) format('woff'), url(../fonts/BlenderPro-BoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic
}

.main-flex {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 710px;
    height: 100vh;
    overflow: hidden;
    position: relative
}

.slider {
    max-width: 400px;
    height: 100%;
    pointer-events: none;
    user-select: none
}

.slider img {
    width: 100%;
    border: none !important
}


#num {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.num_c {
    margin-left: 5px;
    margin-right: 5px;
}

.dutch-detail-two-sides {
    text-align: center;
}

.header-cont {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Blender Pro', 'Helvetica', sans-serif;
}

#claim-text-wrapper {
    width: 524px;
    padding: 32px;
}

.header_flex {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 524px;
    justify-content: space-between;
}

.text-block-13 {
    padding: 5px 30px 5px 30px;
    color: #000;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
}

.text-block-12 {
   padding: 5px 30px 5px 30px;
    color: #000;
    font-size: 19px;
    font-weight: 400;
}

.heading-2-copy-copy-copy-copy {
    opacity: 1;
    color: rgb(252, 252, 253);
    line-height: 51px;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    font-size: 51px !important;
    letter-spacing: 1px !important;
}

#payment-info {
    display: flex;
    margin-top: 20px;
    margin-bottom: 32px;
    padding: 12px;
}

#price-img {
    width: 137px;
    height: 137px;
    border-radius: 10px;
}

#payment-info-text {
    text-align: end;
    margin: auto 0px auto auto;
}

#payment-info-text p {
    margin-block-start: 10px;
    margin-block-end: 10px;
    font-weight: 400;
    font-size: 15px;
    padding: 0 !important;
}

#payment-info-text h5 {
    font-size: 22px;
    font-weight: 400 !important;
}

#ape-number {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 32px;
    align-items: center;
    padding: 12px;
}

#minus,
#plus {
    position: relative;
    color: rgb(241, 241, 241);
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#payment-info-text h4,
#payment-info-text h5 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgb(241, 241, 241);
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#ape-total {
    display: flex;
    height: 65px;
    margin-bottom: 32px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid rgb(255, 255, 255);
}

#ape-total h5,
#ape-total p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
    padding: 0 !important;
    font-size: 20px;
}

#ape-total h5 {
    margin-right: 0;
    margin-left: auto;
}

#pricex {
    font-size: 22px;
}

.frm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-button {
    width: 90px;
    height: 55px;
    border-radius: 10px;
    background-color: #FF0008;
    color: #fff;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 15px;
    font-weight: bold;
    transition: .3s;
}

.max-button:hover {
    background-color: #fff;
    color: #FF0008;
}

#ape-max {
    text-align: end;
    margin: auto 0 auto auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px 2px #fff;
    -moz-box-shadow: 0 0 10px 2px #fff;
    box-shadow: 0 0 10px 2px #fff;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: -o-transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out, -moz-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -o-transform 0.25s ease-in-out;
    font-family: 'Blender Pro', 'Helvetica', sans-serif;
}

#total {
    color: #d20000;
    font-size: 24px;
}

.incr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 900;
    width: 180px;
    height: 55px;
    padding: 0 11px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    color: #000;
}

#timer+p {
    padding-bottom: 20px;
}

.mint-change {
    font-weight: bold;
    cursor: pointer;
}

.btn {
    text-align: center;
    display: block;
    width: 150px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 15px;
    padding-left: 6px !important;
    color: #fff !important;
    text-transform: uppercase;
}

.btn:hover {
    color: #d20000 !important;
}

#connect,
#transfer {
    text-align: end;
    font-size: 1.04167vw;
    margin: auto 0 auto auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    border: 1px;
    border-radius: 0.25rem;
    letter-spacing: 0.5px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 8px 32px rgba(0,0,0,.2);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: -o-transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out, -moz-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -o-transform 0.25s ease-in-out;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*#transfer{*/
/*    display: none;*/
/*}*/

.svelte-q1527 {
    display: none;
}

.svelte-q1527:first-child {
    display: block;
}

@media(max-width:720px) {
    #box0title1 {
        font-size: 100px !important;
    }

    #box0title0 {
        font-size: 60px !important;
    }

    .header-cont {
        /*width: 100%;*/
        padding-left: 20px;
        padding-right: 20px;
    }

    #claim-text-wrapper {
        width: 100%;
    }

    .header_flex {
        width: 100%;
    }

    .svelte-q1527 {
        display: block;
    }

    .main-flex {
        flex-direction: column-reverse;
        height: auto;
    }

    .slider {
        max-width: 100%;
        margin-top: 50px;
    }
}